@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?svz5pt');
    src:    url('../fonts/icomoon.eot?svz5pt#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?svz5pt') format('truetype'),
        url('../fonts/icomoon.woff?svz5pt') format('woff'),
        url('../fonts/icomoon.svg?svz5pt#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-iconfont-iconfontfenlei:before {
    content: "\e900";
}
.icon-iconfont-navicon15:before {
    content: "\e901";
}
.icon-iconfont-fanhui:before {
    content: "\e902";
}
.icon-iconfont-biaoqianshixin1:before {
    content: "\e903";
}
.icon-iconfont-dingwei:before {
    content: "\e904";
}
.icon-iconfont-shouji:before {
    content: "\e905";
}
.icon-iconfont-yonghuzhongxinzhanghu:before {
    content: "\e906";
}
.icon-iconfont-gouwuche:before {
    content: "\e907";
}
.icon-iconfont-zhengquegougou:before {
    content: "\e908";
}
.icon-iconfont-gantanhao:before {
    content: "\e909";
}
.icon-iconfont-search:before {
    content: "\e90a";
}
.icon-iconfont-cut:before {
    content: "\e90b";
}
.icon-iconfont-collect:before {
    content: "\e90c";
}
.icon-iconfont-naozhong:before {
    content: "\e90d";
}
.icon-iconfont-jiarugouwuche:before {
    content: "\e90e";
}
.icon-iconfont-shoppingcart:before {
    content: "\e90f";
}
.icon-iconfont-car:before {
    content: "\e910";
}
.icon-iconfont-erweima:before {
    content: "\e911";
}
.icon-iconfont-heart:before {
    content: "\e912";
}
.icon-iconfont-zan1:before {
    content: "\e913";
}
.icon-iconfont-zan:before {
    content: "\e914";
}
.icon-iconfont-zanb:before {
    content: "\e915";
}
.icon-iconfont-biaoqiankongxin:before {
    content: "\e916";
}
.icon-iconfont-chanpinliebiaopubuliumoshi:before {
    content: "\e917";
}
.icon-iconfont-dingwei2:before {
    content: "\e918";
}
.icon-iconfont-gouwuche2:before {
    content: "\e919";
}
.icon-iconfont-liebiao:before {
    content: "\e91a";
}
.icon-iconfont-triangle-bottom:before {
    content: "\e91b";
}
.icon-iconfont-tripwodexu:before {
    content: "\e91c";
}
.icon-iconfont-tupianmoshi:before {
    content: "\e91d";
}
.icon-iconfont-weibiaoti1:before {
    content: "\e91e";
}
.icon-iconfont-wodedingdan:before {
    content: "\e91f";
}
.icon-iconfont-zhuye1:before {
    content: "\e920";
}
.icon-iconfont-zhuye:before {
    content: "\e921";
}
.icon-iconfont-pylogo:before {
    content: "\e922";
}
.icon-iconfont-py-fenxiang:before {
    content: "\e923";
}
.icon-iconfont-fillet:before {
    content: "\e924";
}
.icon-iconfont-xialasanjiao01:before {
    content: "\e925";
}
.icon-iconfont-xiangxia:before {
    content: "\e926";
}
.icon-iconfont-yuanjiao:before {
    content: "\e927";
}

